/* A pseudo-class used to set variables */
:root {
    --key-width: 50px;
    --key-height: 60px;
}

/* Select all spans that are immediate children of buttons */
button > span {
    font-size: 2.0rem;
}

/* Make numbers and operators same width */
.number {
    width: var(--key-width);
    height: var(--key-height);
}
.operator {
    width: var(--key-width);
    height: var(--key-height);
}

.equal {
    width: var(--key-width);
    height: var(--key-height);
}